<h1>Sections Summary</h1>
<br />

<div class="row">
  <div class="col-md-12">
    <h2 ng-show="!sections.length"><em>No sections currently in system</em></h2>
    <h2 ng-show="sections.length">List of Sections and Reporters:</h2>
    <ul>
      <li ng-repeat="section in sections | orderBy:'name'">
        <a ui-sref="sections-detail({ sectionID: section.id })">{{ section.name }}</a>
        <ul>
          <li ng-show="!section.reporters.length">
            <em>No reporters currently in {{ section.name }}</em>
          </li>
          <li ng-repeat="reporter in section.reporters | orderBy:'sortName'">
            <a ui-sref="reporter-detail({ sectionID: section.id,
              reporterID: reporter.id })">
              {{ reporter.displayName }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>Add a new section:</h2>
    <form ng-submit="addSection()" class="form-inline" role="form">
      <div class="form-group">
        <input type="text" ng-model="sectionName" class="form-control" placeholder="Enter a section name" />
      </div>
      <button type="submit" class="btn btn-primary">Add section</button>
    </form>
  </div>
</div>
<br />
